[submodule "vendor/symfony"]
	path = vendor/symfony
	url = http://github.com/symfony/symfony.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = http://github.com/fabpot/Twig
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = http://github.com/Seldaek/monolog
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = https://github.com/kriswallsmith/assetic
[submodule "vendor/bundles/Symfony/Bundle/AsseticBundle"]
	path = vendor/bundles/Symfony/Bundle/AsseticBundle
	url = https://github.com/symfony/AsseticBundle.git
[submodule "vendor/bundles/Etcpasswd/OAuthBundle"]
	path = vendor/bundles/Etcpasswd/OAuthBundle
	url = git@github.com:mazen/EtcpasswdOAuthBundle.git
[submodule "vendor/buzz"]
	path = vendor/buzz
	url = http://github.com/kriswallsmith/Buzz.git
